@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
body{
  background-color: #FBAE3C;
  font-family: 'Open Sans', sans-serif;
}
.lista:nth-child(5){
  border: none;
}


.swiper {
  width: 300px;
  height: 480px;
}




